Options -Multiviews

Order Deny,Allow
Deny from all
Allow from all

RewriteEngine On
RewriteBase /CoffeeShop-1/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]